<nav class="bd-links w-100 " id="bd-docs-nav" aria-label="Docs navigation">
	<ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2 ">

    <li class="bd-links-group py-2">
      <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
        HTML
      </strong>
      <ul class="list-unstyled fw-normal pb-2 small">
        <li>
          <a href="/setup" class="bd-links-link d-inline-block rounded">개발환경</a>
        </li>
        <li>
          <a href="/html" class="bd-links-link d-inline-block rounded">문서와 요소</a>
        </li>
        <li>
          <a href="/basic" class="bd-links-link d-inline-block rounded">기초</a>
        </li>
        <li>
          <a href="/tag" class="bd-links-link d-inline-block rounded">테그</a>
        </li>
        <li>
          <a href="/layout" class="bd-links-link d-inline-block rounded">레이아웃</a>
        </li>
        <li>
          <a href="/semantic" class="bd-links-link d-inline-block rounded">시맨틱</a>
        </li>
        <li>
          <a href="/multimedia" class="bd-links-link d-inline-block rounded">미디어</a>
        </li>
        <li>
          <a href="/form" class="bd-links-link d-inline-block rounded">폼</a>
        </li>
      </ul>
    </li>

    <li class="bd-links-group py-2">
      <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
        CSS
      </strong>
      <ul class="list-unstyled fw-normal pb-2 small">
      </ul>
    </li>

    <li class="bd-links-group py-2">
      <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
        Javascript
      </strong>
      <ul class="list-unstyled fw-normal pb-2 small">
      </ul>
    </li>







    
	</ul>
</nav>